
<div id="jobform" class="well auth-box">
<div id="each-job" class="row">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <h5><i class="fa fa-map-marker" aria-hidden="true">
    </i> <%= job.title %></h5>
<div id="job-show" class="pull-right" >
    <%= link_to("查看详情", job_path(job), :class => "btn-show ") %>
</div>


      <div id="jobs" class="row">
        <div class="col-md-3 col-sm-6">
          <p>团队人数</p><br>
          <span><i class="fa fa-user" aria-hidden="true"></i>~
            <i class="fa fa-users" aria-hidden="true"></i>&emsp;
            <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
          </span>
        </div>
        <div class="col-md-3 col-sm-6">
          <p>报名人数</p><br>
          <span><i class="fa fa-user-circle-o" aria-hidden="true">
          &emsp;</i><%= job.resumes.count %></span>
        </div>
        <div class="col-md-3 col-sm-6">
          <p>出发时间</p><br>
          <span><i class="fa fa-calendar" aria-hidden="true">
          &emsp;</i> <%= job.contact_email %></span>
        </div>
        <div class="col-md-3 col-sm-6">
          <p>创建时间</p><br>
          <span><i class="fa fa-clock-o" aria-hidden="true">
          &emsp;</i> <%= time_ago_in_words(job.created_at) %></span>
        </div>
      </div>
  </div>
</div>
</div>
