<div id="userindex" class="col-md-12">
  <div id="usertitle" class="row">
<div class="col-md-12">
      <div class="title">
        <h2>全部行程</h2>
      </div>

      <div id="px" class="dropdown  pull-right">
        <button class="btn btn-default dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序<span class="caret"></span>
        </button>
          <ul class="dropdown-menu" aria-ladelley="dropdownMenuDivider">
            <li>
              <%= link_to("按照人数下限排列", jobs_path(order: "by_lower_bound"))%>
            </li>
            <li>
              <%= link_to("按照人数上限排列", jobs_path(order: "by_upper_bound"))%>
            </li>
            <li>
              <%= link_to("按照发表日期排序", jobs_path ) %>
            </li>
          </ul>
        </div>
</div>
      <div class="row ">
        <div class="col-md-2">
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/all.png">
            <h4 class="text-center"><%= link_to("全部难度", jobs_path)%></h4>
          </div>
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/hd1.png">
            <h4 class="text-center"><%= link_to("普通级", jobs_path(category:"普通"))%></h4>
          </div>
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/hd2.png">
            <h4 class="text-center"><%= link_to("专业级", jobs_path(category:"专业"))%></h4>
          </div>
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/hd3.png">
            <h4 class="text-center"><%= link_to("挑战级", jobs_path(category:"挑战"))%></h4>
          </div>
        </div>


        <div id="userjob"  class="col-md-10">
            <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
        </div>

            </div>
          </div>
        </div>
