<div id="userindex" class="col-md-12">
  <div id="usertitle" class="row">
    <div class="col-md-8">
      <div class="title">
        <h2>全部行程</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div id="px" class="dropdown  pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序<span class="caret"></span>
        </button>
          <ul class="dropdown-menu" aria-ladelley="dropdownMenuDivider">
            <li>
              <%= link_to("按照人数下限排列", jobs_path(order: "by_lower_bound"))%>
            </li>
            <li>
              <%= link_to("按照人数上限排列", jobs_path(order: "by_upper_bound"))%>
            </li>
            <li>
              <%= link_to("按照发表日期排序", jobs_path ) %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/sanxia.png">
            <h3 class="text-center"><%= link_to("全部", jobs_path)%></h3>
            <p>111</p>
          </div>
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/sanxia.png">
            <h3 class="text-center"><%= link_to("普通", jobs_path(category:"普通"))%></h3>
            <p>111</p>
          </div>
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/sanxia.png">
            <h3 class="text-center"><%= link_to("专业", jobs_path(category:"专业"))%></h3>
            <p>111</p>
          </div>
          <div class="thumbnail">
            <img src="http://ongoo1pyy.bkt.clouddn.com/sanxia.png">
            <h3 class="text-center"><%= link_to("挑战", jobs_path(category:"挑战"))%></h3>
            <p>111</p>
          </div>
        </div>


        <div id="userjob"  class="col-md-8">
            <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
        </div>

            </div>
          </div>
        </div>
