<div id="simplejob" class="container-fluid">
<div id="show1">
<div class="row text-center">
<h1> <%= @job.title %> </h1>
</div>
<span class="pull-right">
  <% if current_user && current_user.is_member_of?(@job) %>
    <label class="label label-success"> 已关注 </label><br>
        <%= link_to(" ", quit_job_path(@job), method: :post, class: "fa fa-bookmark fa-3x") %>
  <% else %>
    <label class="label label-warning"> 未关注 </label><br>
         <%= link_to(" ", join_job_path(@job), method: :post, class: "fa fa-bookmark-o fa-3x") %>
  <% end %>
</span>
<p>
  <%= simple_format(@job.description) %>
</p>
</div>
<table class="table table-boldered">
  <thead>
    <tr>
      <td>团队人数</td>
      <td>报名人数</td>
      <td>出发时间</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @job.wage_lower_bound %>~<%= @job.wage_upper_bound %></td>
      <td><%= @job.resumes.count %></td>
      <td><%= @job.contact_email %></td>
    </tr>
  </tbody>
</table>
<div id="show-btn" >
  <%= link_to("提交申请", new_job_resume_path(@job), :class => "btn-show") %>
</div>
</div>
