<!DOCTYPE html>
<html>
   <head>
       <title>途行</title>
       <%= csrf_meta_tags %>

       <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

   <body>
     <div class="row">
       <%= render "common/navbar" %>
     </div>
  <div id="bk2" class="container-fluid">

         <%= render "common/flashes" %>
             <div class="list_group">

               <div  id="adminlist" class="col-md-2">
                 <div class="row  ">
              <ul class="nav nav-pills nav-atacked" >
               <a href= '/admin/jobs' class="list-group-item active">管理员界面</a>
               <a href= '/jobs' class="list-group-item">游客界面</a>
             </ul>
           </div>
         </div>
          </div>
           <div id="adminindex" class="col-md-10">
             <%= yield %>
           </div>
           <div class="push"></div>
   </div>


       <%= render "common/footer" %>
    </body>
</html>
